.row {
  display: flex;
  justify-content: center;
}

.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: width 0.3s;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 25px;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.langSwitcher {
  margin-left: 20px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .langSwitcher {
    margin-left: 0;
  }

  .themeSwitcher {
    margin-bottom: 10px;
  }
}
